* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans';
}

body {
  display: grid;
  grid-template-columns: 250px;
  height: 100vh;
}

main {
  grid-row: 1 /span 2;
  background-color: #EAEAF4;
  width: 100%;
}

nav {
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-items: center;
  grid-row: 1 / span 2;
}

h1 {
  font-size: 1.3em;
  padding: 20px 5px;
}

.div__p {
  color: #BFBFDD;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px 5px;

}

button {
  border: none;
  height: 50px;
  text-decoration: none;
  outline: none;
}

.quality-btn {
  font-size: 1.25em;
  background-color: #1f1F3D;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 10px 0;
  font-weight: 300;
}

.quality-btn:hover {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  padding-left: 10px;
}

.nav__div--stars {
  border-top: 2px solid #5356A4;
  border-bottom: 2px solid #5356A4;
  width: 100%;
}

.div__button--starred {
  margin-bottom: 20px;
  height: 30px;
  width: 100%;
}

.nav__h3--quality {
  color: #BFBFDD;
  font-weight: 700;
  font-size: unset;
  margin: 10px 0;
}

.nav__div--stars,
.nav__h3--quality,
.nav__div--quality,
.nav__btn--swill,
.nav__btn--plausible,
.nav__btn--genius,
.nav__form {
  padding: 10px;
}

.form__label--quality {
  color: #BFBFDD;
  display: block;
  font-size: small;
  margin-top: 20px;
}

.form__input--quality {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.div__button--starred,
.form__button--quality {
  background-color: #5356A4;
  border-color:#353567;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 400;
  width: 100%;
  height: 50px;
  border-radius: 2px;
}
.div__button--starred:hover,
.form__button--quality:hover {
  background-color: #D14119
}
.main__section--top {
  background-color: #A9AAD2;
  display: flex;
  justify-content: center;
}

.section__form{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form {
  margin-bottom: 20px;
  height: 30px;
}
form label {
  color: #1F1F3D;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 3px;
}

.form__label--title {
  margin-top: 10px;
}

.form__input--title {
  height: 50px;
  border: 1px solid #1F1F3D;
  border-radius: 2px;
}

.form__textarea--body {
  border: 1px solid #1F1F3D;
  border-radius: 2px;
  height: 100px;
  resize: none;
}

.form__button--save {
  background-color: #1F1F3D;
  border-color:#353567;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: 400;
  width: 100%;
  height: 50px;
  border-radius: 2px
}

.form__button--save:disabled {
  background-color: #EAEAF4;
  color: #A9AAD2;
  border: 1px solid #1F1F3D;
}

container {
  display: flex;
}

.img--search {
  background-color: #1F1F3D;
  border-radius: 2px;
  display: inline;
  height: 50px;
  padding: 7px;
  margin-right: 0;
}

.form__input--search {
  border: 1px solid #1F1F3D;
  border-radius: 2px;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 0;
  padding-left: 10px;
  width: 100%;
}
.main__section--bottom {
  background-color: #EAEAF4;
  text-align: center;
}

.section__article {
  display: inline-block;
  margin: 15px;
  width: 350px;
  text-align: left;
}

.article__header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  width:100%;

}

.header__img--star:hover {
  content: url(images/star-active.svg)
}

.header__img--x:hover {
  content: url(images/delete-active.svg);
}

.article__div {
  background-color: #FFFFFF;
  padding: 10px;
}


.div__h3--title {
  padding-bottom: 10px;
}

.div__p--text {
  height: 10em;
}

#ptag {
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    font-weight: 600;
}

.article__footer {
  background-color: #5356A4;
  display: flex;
  justify-content: space-between; 
}

.footer__p--quality {
  color: #FFFFFF;
  margin-top: 6px;
  font-size: .8em;
}

.button__img--upvote:hover {
  content: url(images/upvote-active.svg);
}

.button__img--downvote:hover {
  content: url(images/downvote-active.svg)
}

footer img {
  background-color: #5356A4;
}

footer button {
  background-color: #5356A4;
  border: 0;
  padding: 0;
}

article img {
  height: 2em;
  width: 2em;
}

@media screen and (max-width: 750px) {
  body {
    /*display: flex;*/
  }
}