* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin: 0;
  transition: ease all .3s;
}

body {
  display: grid;
  grid-template-columns: 250px;
  height: 100vh;
}

main {
  background-color: #EAEAF4;
  grid-row: 1 /span 2;
  width: 100%;
}

/*  Main Top Section  */

form label {
  color: #1F1F3D;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 3px;
}

container {
  display: flex;
}

.main__section--top {
  background-color: #A9AAD2;
  display: flex;
  justify-content: center;
}

.form {
  height: 30px;
  margin-bottom: 20px;
}

.form__label--quality {
  color: #BFBFDD;
  display: block;
  font-size: small;
  margin-top: 20px;
}

.form__input--quality {
  height: 50px;
  margin-bottom: 25px;
  margin-top: 5px;
  width: 100%;
}

.div__button--starred,
.form__button--quality,
.form__btn--show {
  background-color: #5356A4;
  border-color:#353567;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 400;
  height: 50px;
  width: 100%;
}

.form__btn--show {
  margin-top: 20px;
}

.div__button--starred:hover,
.form__button--quality:hover,
.form__btn--show:hover {
  background-color: #D14119;
}

.section__form{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form__label--title {
  margin-top: 10px;
}

.form__input--title {
  border-radius: 2px;
  border: 1px solid #1F1F3D;
  height: 50px;
}

.form__textarea--body {
  border-radius: 2px;
  border: 1px solid #1F1F3D;
  height: 100px;
  resize: none;
}

.form__button--save {
  background-color: #1F1F3D;
  border-color:#353567;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: 400;
  height: 50px;
  width: 100%;
}

.form__button--save:disabled {
  background-color: #EAEAF4;
  border: 1px solid #1F1F3D;
  color: #A9AAD2;
}

.img--search {
  background-color: #1F1F3D;
  border-radius: 2px;
  display: inline;
  height: 50px;
  margin-right: 0;
  padding: 7px;
}

.form__input--search {
  border-radius: 2px;
  border: 1px solid #1F1F3D;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  margin-left: 0;
  padding-left: 10px;
  width: 100%;
}

/*  Main Bottom Section  */

article img {
  height: 2em;
  width: 2em;
}

footer img {
  background-color: #5356A4;
}

footer button {
  background-color: #5356A4;
  border: 0;
  padding: 0;
}

.main__section--bottom {
  background-color: #EAEAF4;
  text-align: left;
}

.section__article {
  display: inline-block;
  margin: 15px;
  text-align: left;
  width: 350px;
}

.article__header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__img--star:hover {
  content: url(images/star-active.svg)
}

.header__img--x:hover {
  content: url(images/delete-active.svg);
}

.article__div {
  background-color: #FFFFFF;
  padding: 10px;
}


.div__h3--title {
  padding-bottom: 10px;
}

.div__p--text {
  height: 10em;
}

#ptag {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 15px;
    text-align: center;
}

.article__footer {
  background-color: #5356A4;
  display: flex;
  justify-content: space-between; 
}

.footer__p--quality {
  color: #FFFFFF;
  font-size: .8em;
  margin-top: 6px;
}

.button__img--upvote:hover {
  content: url(images/upvote-active.svg);
}

.button__img--downvote:hover {
  content: url(images/downvote-active.svg)
}

/*  Nav  */

nav {
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 2;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
  padding: 20px 5px;
}

button {
  border: none;
  height: 50px;
  outline: none;
  text-decoration: none;
}

.div__img--hamburger {
  display: none;
}


.nav__container1 {
  display: flex;
  flex-direction: column;
}

.div__p {
  color: #BFBFDD;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 20px 5px;
}

.quality-btn {
  background-color: #1f1F3D;
  color: #FFFFFF;
  display: flex;
  font-size: 1.25em;
  font-weight: 300;
  justify-content: flex-start;
  margin: 0px;
  padding: 10px 0;
}

.quality-btn:hover {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  padding-left: 10px;
}
.active {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  padding-left: 10px;
}

.nav__div--stars {
  border-bottom: 2px solid #5356A4;
  border-top: 2px solid #5356A4;
  width: 100%;
}

.nav__h3--quality {
  color: #BFBFDD;
  font-size: unset;
  font-weight: 700;
  margin: 10px 0;
}

.nav__div--stars,
.nav__h3--quality,
.nav__div--quality,
.nav__btn--swill,
.nav__btn--plausible,
.nav__btn--genius,
.nav__form,
.nav__h1 {
  padding: 15px;
}

/*  Media Queries  */

@media screen and (max-width: 1010px) {
  .main__section--bottom {
    padding: 20px;
    text-align: center;
  }

  .section__form {
    margin: 20px;
    width: 100%;
  }

  .section__article {
    display: block;
    margin: 20px auto;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  body {
    display: block;
  }

  h1 {
    margin: auto;
  }

  .nav__div {
    display: flex;
  }

  .div__img--hamburger {
    display: inline-block;
    height: 50px;
    margin: auto 10px;
    width: 50px;
  }

  .hidden {
    display: none;
  }
}